<form name="userForm" class="form-group container-fluid form-style" novalidate>
	<div class="form-group row">
		<label class="label-style">First Name:* </label>
			<input type="text" ng-model="formData.firstName" name="firstName"  ng-maxlength="150" required>
			<span ng-show="userForm.firstName.$error.required && userForm.firstName.$dirty">required</span>
	</div>		
	<div class="form-group row">
		<label class="label-style">Last Name:* </label>
		<input type="text" ng-model="formData.lastName" ng-maxlength="150" name="lastName" required>
		<span ng-show="userForm.lastName.$error.required && userForm.lastName.$dirty">required</span>
	</div>
	
	<div class="form-group row">
		<label class="label-style">Email:* </label>
		<input type="email" ng-model="formData.email" ng-maxlength="150" name="email" required>
		<span ng-show="userForm.email.$error.required && userForm.email.$dirty">required</span>
		<span ng-show="!userForm.email.$error.required && userForm.email.$error.email && userForm.email.$dirty">invalid email</span>		
	</div>
	
	<div class="form-group row">
		<label class="label-style">Position:* </label>
		<input type="text" ng-model="formData.position" ng-maxlength="75" name="position" required>
		<span ng-show="userForm.position.$error.required && userForm.position.$dirty">required</span>		
	</div>
	
	<div class="form-group row">
		<button type="submit" id="submit" class="btn btn-secondary" ng-click="submitForm(userForm.$valid)" ng-disabled="!userForm.$valid">Submit</button>
		<button type="submit" id="reset" class="btn btn-secondary" ng-click="reset()"/>Reset</button>
	</div>
 </form>
